@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	*,
	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		padding: 0.1px;
	}
	
	body > * {
		display: inline;
	}
	
	#app {
		height: 100vh;
		width: 100vw;
	
		display: flex;
		align-items: center;
		justify-content: center;
	}

	input[type=number]::-webkit-inner-spin-button:hover,
	input[type=number]::-webkit-outer-spin-button:hover {
		display: none;
	}
	input[type=number] {
		appearance: textfield;
	}
}

@layer components {
	.container {
		display: grid;
		grid-template-rows: 100px 100%;
	}
}
